<ion-content padding>
    <ion-grid>
      <ion-row>
        <ion-col size-lg="3" size-md="3" size-sm="12" size-xs="12">
          <app-portfolio-side></app-portfolio-side>
        </ion-col>
        <ion-col class="main" size-lg="9" size-md="9" size-sm="12" size-xs="12">
          <ion-grid>
            <ion-row>
              <ion-col>
                <h1>Kevin Jay Dela Cruz</h1>
                <h2>Software Ninja</h2>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-grid class="table">
                  <ion-row>
                    <ion-col size-lg="2" size-md="2" size-sm="4" size-xs="4" class="label">Mobile</ion-col>
                    <ion-col size-lg="4" size-md="4" size-sm="8" size-xs="8" class="value"><a href="tel:+639778140228" taget="_blank">+63 977 814 0228</a></ion-col>

                    <ion-col size-lg="2" size-md="2" size-sm="4" size-xs="4" class="label">Email</ion-col>
                    <ion-col size-lg="4" size-md="4" size-sm="8" size-xs="8" class="value"><a href="mailto:kj_delacruz28@yahoo.com" taget="_blank">kj_delacruz28@yahoo.com</a></ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col size-lg="2" size-md="2" size-sm="4" size-xs="4" class="label">Address</ion-col>
                    <ion-col size-lg="4" size-md="4" size-sm="8" size-xs="8" class="value">Marikina, Philippines</ion-col>

                    <ion-col size-lg="2" size-md="2" size-sm="4" size-xs="4" class="label">Skype</ion-col>
                    <ion-col size-lg="4" size-md="4" size-sm="8" size-xs="8" class="value">nivekyaj09</ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  