ion-button {
  --background:#33383E;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --background-activated: #cc5556
}

ion-card {
  --background: --ion-background-color;
  border-radius: 15px 15px 0px 0px;
  margin: 0px;
}
